.top {
    display: flex;
    justify-content: center;  
    align-items: center;     
    background-color: #3d3d3d;
    height: 6vh;
    width: 100%;
}

.title {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;            
}

.title h2 {
    margin: 0;
    background: linear-gradient(50deg, white,#ff7c7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: rainbow 5s linear infinite; 
}

